<div class="row" style="margin-bottom: 15px;">
  <div class="col-md-4">
    <input
      type="file"
      #file
      placeholder="Choose file"
      (change)="uploadFile(file.files)"
      style="display: none;"
    />
    <button type="button" class="btn btn-light" (click)="file.click()">
      <i class="fa fa-upload"></i>
      Upload File
    </button>
  </div>
  <!-- <div class="col-md-6">
    <progress
      class="progress is-primary"
      [attr.value]="progress"
      max="100"
    ></progress>
  </div> -->
  <div class="col-md-4">
    <span class="upload" *ngIf="progress > 0"> {{ progress }}% </span>
    <span class="upload" *ngIf="message">
      {{ message }}
    </span>
  </div>
</div>
